body {
  // color: rgb(45, 84, 91);
  background-color: #f9f2e5;
}

.title {
  font-size: 50px;
  font-family: 'Cabin';
  text-align: center;
  // text-shadow: 5px 5px 3px #cccccc;
  //  -webkit-text-stroke: 2px rgb(45, 84, 91);
     color: rgb(45, 84, 91);
}

.pic {
  width: 350px;
  height: 270px;
  margin: 20px;
  margin-left: 75px;
  border: 10px solid rgb(45, 84, 91);
  border-bottom: 50px solid rgb(45, 84, 91) ;
  display: inline-block;


      img {
        width: 100%;
        height: 100%;
      }
}
.likeme{
  background-color: #ff6562;
  padding: 10px;
  color: white;
  border-radius: 10px;
 border: 1px solid rgb(45, 84, 91);
 display: inline-block;

}
h3 {
  font-size: 20px;
  color: white;
  display: inline-block;
  float: right;
}

.urlinput{
  width: 35%;
  display: inline-block;
  height: 35px;
  margin-top: 30px;
  font-size: 15px;
}
.titleinput {
  width: 35%;
  display: inline-block;
  height: 35px;
  margin-bottom: 50px;
  font-size: 15px;

}
form {
  width: 75%;
  margin-left: 525px;
}

.submit {
  display: block;
    margin-top: -38px;
    width: 10%;
    margin-left: 137px;
    height: 36px;
    border-radius: 10px;
    background-color: #ff6562;
    border: 1px solid white;
    color: white;
    font-size: 15px;
}
.babylamb {
  height: 100px;
}
