body {
  background-color: #f9f2e5; }

.title {
  font-size: 50px;
  font-family: 'Cabin';
  text-align: center;
  color: #2d545b; }

.pic {
  width: 350px;
  height: 270px;
  margin: 20px;
  margin-left: 75px;
  border: 10px solid #2d545b;
  border-bottom: 50px solid #2d545b;
  display: inline-block; }
  .pic img {
    width: 100%;
    height: 100%; }

.urlinput {
  width: 35%;
  display: inline-block;
  height: 25px;
  margin-top: 30px; }

.titleinput {
  width: 35%;
  display: inline-block;
  height: 25px;
  margin-bottom: 50px; }
